<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chockwa.beauty.mapper.SourceDetailMapper">
  <resultMap id="BaseResultMap" type="com.chockwa.beauty.entity.SourceDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="delete_url" jdbcType="VARCHAR" property="deleteUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, source_id, `name`, pic_url, delete_url, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_source_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_source_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.chockwa.beauty.entity.SourceDetail" useGeneratedKeys="true">
    insert into sys_source_detail (source_id, `name`, pic_url, 
      delete_url, create_time)
    values (#{sourceId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{picUrl,jdbcType=VARCHAR}, 
      #{deleteUrl,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.chockwa.beauty.entity.SourceDetail" useGeneratedKeys="true">
    insert into sys_source_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="deleteUrl != null">
        delete_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sourceId != null">
        #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteUrl != null">
        #{deleteUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chockwa.beauty.entity.SourceDetail">
    update sys_source_detail
    <set>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="deleteUrl != null">
        delete_url = #{deleteUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chockwa.beauty.entity.SourceDetail">
    update sys_source_detail
    set source_id = #{sourceId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      delete_url = #{deleteUrl,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insertBatch">
    insert into sys_source_detail (source_id, `name`, pic_url,
      delete_url, create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.sourceId,jdbcType=BIGINT}, #{item.name,jdbcType=VARCHAR}, #{item.picUrl,jdbcType=VARCHAR},
      #{item.deleteUrl,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>