<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chockwa.beauty.mapper.SourceDetailMapper">
  <insert id="insertBatch">
    insert into sys_source_detail (id, source_id, `name`, thumb_image, origin_thumb_image, pic_url, origin_url,
      delete_url, create_time)
    values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id,jdbcType=VARCHAR}, #{item.sourceId,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.thumbImage,jdbcType=VARCHAR}, #{item.originThumbImage,jdbcType=VARCHAR}, #{item.picUrl,jdbcType=VARCHAR}, #{item.originUrl,jdbcType=VARCHAR},
      #{item.deleteUrl,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP})
    </foreach>
  </insert>
</mapper>